@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@200&family=Source+Code+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #333;
  height: 100vh;
  gap: 50px;
  padding: 20px 0;
  font-family: "M PLUS 1 Code", sans-serif;
}
.words {
  width: 60%;
  font-weight: bold;
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  border-radius: 10px;
  color: rgb(117, 115, 115);
  padding: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 32px 0 #222;

  background: rgba(27, 25, 25, 0.4);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}
.words p {
  padding: 1px;
  font-size: 20px;
  font-family: "M PLUS 1 Code", sans-serif;
}
.input-area {
  width: 60%;
  align-self: center;
  background-color: #ec6e6e;
}
.stats {
  display: flex;
  padding: 14px;
  color: white;
  font-weight: bold;
  border: 2px solid rgb(61, 60, 60);
  border-radius: 10px;
  max-width: 700px;
  min-width: 700px;
  justify-content: space-around;
  align-items: center;
}
.errors-div,
.accuracy-div,
.count-div,
.speed-div,
.timer-div {
  display: flex;
  flex-direction: row;
}
.errors-div,
.accuracy-div,
.count-div,
.speed-div {
  max-width: 150px;
  min-width: 150px;
  justify-content: center;
  align-items: center;
}
.time-and-other {
  display: flex;
  color: white;
  border: 2px solid rgb(61, 60, 60);
  padding: 10px;
  border-radius: 10px;
  min-width: 10%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.typingIndicator {
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-name: moveRight;
}
@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.typingIndicatorleft {
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-name: moveLeft;
}
@keyframes moveLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-12%);
  }
}
