@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #333;
  height: 100vh;
  gap: 50px;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
}
.words {
  width: 50%;
  text-align: center;
  font-weight: bold;
  display: flex;
  gap: 0px;
  flex-wrap: wrap;
  border: 1px solid wheat;
  border-radius: 10px;
  color: gray;
  padding: 10px;
}
.words p {
  padding: 1px;
}
.input-area {
  width: 50%;
  align-self: center;
  background-color: #ec6e6e;
}
.stats {
  display: flex;
  padding: 14px;
  color: white;
  font-weight: bold;
  border: 1px solid wheat;
  border-radius: 10px;
  max-width: 700px;
  min-width: 700px;
  justify-content: space-around;
  align-items: center;
}
.errors-div,
.accuracy-div,
.count-div,
.speed-div,
.timer-div {
  display: flex;
  flex-direction: row;
}
.errors-div,
.accuracy-div,
.count-div,
.speed-div {
  max-width: 150px;
  min-width: 150px;
  justify-content: center;
  align-items: center;
}
.time-and-other {
  display: flex;
  color: white;
  border: 1px solid wheat;
  padding: 10px;
  border-radius: 10px;
  min-width: 10%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
